.about-container {
    background: #ffffff;
    padding: 60px 120px;
}

.sub-about {
    backfground: #dcfdcd;
    padding: 40px;

}

.about {
    bacbkground: #fff000;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
}

.design {
    bacnkground: #ffccdd;
    width: 50%;
    height: 30em;

}

.client {
    background: green;
    height: 250px;
    width: 250px;
    border-radius: 0px 120px 120px 120px;
    padding: 30px;
    color: #fff;
}

.about-img {
    border-radius: 360px;
    width: 25em;
    height: 25em;
    margin: -10rem 10rem 10rem 3rem;
    
}

.descript {
    width: 50%;
    backgnround: #f0f;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.descript span {
    font-size: 20px;
    color: green;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.descript ul {
    list-style-type: '✅';
    
}

.client span{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-containers {
    backgrvound: #1970e9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sub-img {
    backgrvound: #fff000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.sub-img img{
    width: 100px;
    height: 100px;
    border-radius: 360px;
    bacvkground: #1970e9;
}

.sub-containers button {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background: green;
    color: #fff;
    border-radius: 10px;
    font-weight: 900;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}



