@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    position: fixed;
    z-index: 99;
    padding: 0 10px;
    background: #fefefe;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

#nav-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    margin: 1em;
    align-items: center;
}

#nav-items {
    list-style: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 360px;
    height: 25px;
    width: 25px;
}

.nav-list i {
    color: #ffffff;
    font-size: 15px;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: #ff0000;
    position: relative;
    top: 5px;
}

.navContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logo {
    margin-left:-50px ;
}

.links {
    text-decoration: none;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: #000000;
}

.free-btn {
    width: 150px;
    height: 40px;
    background-color: rgb(0, 142, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    color: #fefefe;
    cursor: pointer;
}

.free-btn:hover {
    transition: all 1.3s ease;
    background-color: rgb(1, 114, 56);
}

.free-btn .links {
    color: #ffffff;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.gh {
    width: 1px;
    height: 15px;
    background: #000000;
}