.service-container {
    background: #cdfddd;
    background-image: url('../assets/backicons/4f345f75-4ee3-49b4-ba73-02a24e994906-removebg-preview.png');
        background-repeat: no-repeat;
        background-size: 20em;
        background-position-x: 53em;
        background-position-y: 7em;

}

.serivce {
    padding: 10px;
    color: #000;
}

.descriptions {
    width: 400px;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 12em;
    padding: 30px 30px;
    backgrobund: #ff00ff;

}

.descriptions span{
    font-size: 20px;
    color: green;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.container {
    margin: 10px 0 0 0;
    background-image: url('../assets/backicons/banner.png');
        background-repeat: no-repeat;
        background-size: 20em;
        background-position-y: 40em;
        display: grid;
        backxground: #ff00ff;
        padding-bottom: 7.8em;
}

.sub-container {
    margin: 0 0 0 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important ;
}

.overflow {
    overflow: hidden;
    
}

.card-img {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img:hover {
    transform: scale(1.8);
    
}

.card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
    text-align: center;
}

@media (max-width: 480px) {
    .service-container {
            background-color: aqua;
        }
    
        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 5px 0 0 0;
            bbackground: #ff00ff;
            gap: 50px;

        }
    .sub-container {
           margin: 0;
            display: flex;
            flex-direction: column;
            gap: 30px;
            
        }
    .descriptions {
        backgjround: #dfce00;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        padding: 30px;
        
    
    }
}